/*Fuentes*/

@font-face {
    font-family: 'NeueWorld';
    src: url('fonts/PPNeueWorld-SemiCondensedUltrabold.otf') format('truetype');
}

/*Body*/

body{
    font-family: NeueWorld;
    margin: 0;

    background-color:rgb(243, 237, 222);
    color: rgb(51, 51, 51);
    box-sizing: border-box;
}

/*Barra progreso*/

#progress {
    position: fixed;
    top: 0;
    width: 0%;
    background: rgb(243, 237, 222);
    height: .6em;
    z-index: 10000;

    animation: progress-grow auto linear;
    animation-timeline: scroll(root block);
}

@keyframes progress-grow {
    from { width: 0% }
    to { width: 100%; }
    
}

/*Header*/

.header{
    height: auto;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    z-index: 9999;

    animation: enhance-header linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 200px;
}

/*Animacion para el header*/

@keyframes enhance-header {

    to {
        background: rgb(243, 237, 222, .6);
        backdrop-filter: blur(5px);
        font-size: 18px;
        color: black;
    }

}

.header .nave{
    display: flex;
    gap: 2%;

    align-items: center;
    padding: 8px;
}

.nave img{
    width: 50px;
}

.nave nav{
    display: flex;
    gap: 20px;
}

.nave nav a{
    text-decoration: none;
    font-size: 20px;
    color: rgb(51, 51, 51);
    transition: all both;
    transition-duration: .2s;
}

.nave nav a:hover{
    color: rgb(0, 167, 130);
}


/*Introduccion/Portada*/

.intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 60px);
    flex-grow: 1;
    text-align: center;
    margin-top: -3vw;
    margin-bottom: auto;
}

.textos {
    margin: 10px 0;
    transition: all both;
    transition-duration: .5s;
    animation: agrandar 1s linear both;

}

.textos:hover{
    color: rgb(243, 237, 222, .1);
    -webkit-text-stroke: 2px black;
}

/*Animacion de titulos*/

@keyframes agrandar {
    0% {
        scale: 3;
    }

    25% {
        scale: 2.5;
    }
    
    50% {
        scale: 2;
    }

    75%{
        scale: 1.5;
    }

    100%{
        scale: 1;
    }
}

.intro h1 {
    font-size: 16vw;
    margin-bottom: -5vw;
}

.intro h2 {
    font-family: monospace;
    font-size: 2.8vw;
}

.intro h3 {
    font-size: 2.8vw;
}

/*Seccion museo*/

.imagenes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0;
    padding-bottom: 3px;
}

/*Animacion imagenes*/

.imagenes img{
    animation: movimiento linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 30%;
}

/*Animacion oraciones*/

.imagenes p{
    animation: movimiento linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 40%;
}

/*Animacion de movimiento*/

@keyframes movimiento{
    from {
        opacity: 0;
        scale: .5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

/*Imagen*/

.imagenes div img{
    margin-top: 70%;
    margin-bottom: 10%;
    max-width: 100%;
    height: auto;
}

/*Texto de imagen*/

.imagenes div p{
    text-align: center;
    font-family: arial;
    font-size: 2.8vw;
    width: 60%;
    margin: auto;
    color: white;
    margin-bottom: 40px;
}

/*Fondos de las imagenes*/


#img1{
    background: linear-gradient(180deg, rgb(243, 237, 222) 10%,#2B1266 30%);
}

#img2{
    background: linear-gradient(180deg, #2B1266 10%,#F1E6D5 30%);
}

#img2 p{
    color: black !important;
}

#img3{
    background: linear-gradient(180deg, #F1E6D5 10%, #ACC5E4 30%);
}

#img4{
    background: linear-gradient(180deg, #ACC5E4 10%, #2E4954 30%);
}

#img5{
    background: linear-gradient(180deg, #2E4954 10%, #400E09 30%);
}

#img6{
    background: linear-gradient(180deg, #400E09 10%, #1D598D 30%);
}

#img7{
    background: linear-gradient(180deg, #1D598D 10%, #F1E6D5 30%);
}

#img7 p{
    color: black !important;
}

#img8{
    background: linear-gradient(180deg, #F1E6D5 10%, #FF914D 30%);
}


#img9{
    background: linear-gradient(180deg, #FF914D 10%, #F1E6D5 30%);
}

#img9 p{
    color: black;
}

#img10{
    background: linear-gradient(180deg, #F1E6D5 10%, #F1E6D5 30%);
}

#img10 p{
    color: black;
}



/*Footer*/

footer{
    padding-top: 10px;
    padding-bottom: 40px;
    margin-top: 0px;
    background-color: rgb(24, 23, 51);
    color: white;
}

footer{
    text-align: center;
}

.names{
    display: flex;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;

}